/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";



#calendar {
    display: inline-block;
    border-radius: 12px;
    padding: 0 1em;
    margin: 2em 0;
}

#month {
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.calendar span {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--accent);
}

.days,
.week {
    color: var(--primary-color-rgba);
    color: var(--primary-color-hsla);

    display: -ms-grid;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
    padding: 0 2%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.week div,
.days div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 10%;
    margin: 5px;
}

.days div:not(:has(p)):hover {
    background: var(--primary-color-rgba);
    background: var(--primary-color-hsla);

    color: var(--secondary-color-hsla);
    color: var(--secondary-color-rgba);

    cursor: pointer;
}

.week div {
    opacity: 0.5;
}


.current-date {
    background-color: var(--secondary-color-hsla);
    background-color: var(--secondary-color-rgba);

    color: var(--white);
}


.days div:has(p.event-name) {
    position: relative;
    background-color: var(--accent-color-hsla);
    background-color: var(--accent-color-rgba);

}

.days div:has(p.event-name):hover {
    background-color: var(--secondary-color-hsla);
    background-color: var(--secondary-color-rgba);

}

.event-name {
    display: none;
    font-size: 1em;
}

.days div:hover p {
    position: absolute;
    display: block;
    padding: 1em;
    background-color: var(--accent-color-hsla);
    background-color: var(--accent-color-rgba);

    border-radius: 10%;
}


@media screen and (min-width: 1300px) and (max-width: 1561px) {

    .week div,
    .days div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 1rem;
        width: 1rem;
        border-radius: 10%;
        margin: 5px;
    }
}