@charset "utf-8";

article ol {
    color: var(--primary-color-hsla);
    color: var(--primary-color-rgba);
    list-style-position: inside;
}

article ol p {
    margin: 2em 2em 0 0;
    font-size: 1.1rem;
}

article ol img {
    clip-path: inset(10% round 10%);
}

article li {
    position: relative;
    padding: 1em;
    margin: 1em auto;
    background-color: var(--secondary-color-hsla);
    border-radius: 12px;
}


.left-imgs {
    display: block;
    float: left;
}

.right-imgs {
    display: block;
    float: right;
}

/*stop floated images from breaking container*/
article li:has(img)::after {
    content: "";
    clear: both;
    display: table;
}



h3 {
    transform: translate(0, -20px);
}
h2+p {
    border-radius: 12px;
    background-color: var(--secondary-color-hsla);
}

h5 {
    text-align: left;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--secondary-color-hsla);
}


/*Mobile Screen Sizes*/
@media screen and (max-width: 640px) {
    main {
        padding: 1%;
    }

    article h2+p {
        margin: 1em 0;
        padding: 2em;
    }

    article ol {
        margin: 5% 1%;
    }

    article img {
        max-width: 150px;
        height: auto;
    }

    .left-imgs {
        margin-right: 2%;
    }

    .right-imgs {
        margin-left: 2%;
    }
}


/*Tablet and Desktop Screensizes*/
@media screen and (min-width: 641px) {
    main {
        padding: 5%;
    }
    article h2+p {
        margin: 2em;
        padding: 2em;
    }

    article ol {
        margin: 5% 10%;
    }

    article img {
        max-width: 200px;
        height: auto;
    }

    .left-imgs {
        margin-right: 5%;
    }

    .right-imgs {
        margin-left: 5%;
    }
}