@charset "utf-8";

:root {
--invalid-color: rgb(105, 49, 49);
--valid-color: rgb(37, 102, 36);
}

/*Page layout styles*/
main {
   display: grid;
}

.grid-item {
   padding: 1em;
   width: 100%;
   height: auto;
   overflow: hidden;
}

#contact-image-container {
   width: 100%;
   height: 100%;
}

.grid-item img {
   display: block;
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   clip-path: inset(1px round 10px);
}

#callback {
   width: fit-content;
}

/*Form grid layouts*/

form {
   width: 100%;
   height: 100%;
   color: var(--primary-color-rgba);
   color: var(--primary-color-hsla);
   display: grid;
   gap: 20px;
   grid-auto-flow: row;
   grid-template-rows: 1fr auto;

}

fieldset {
   display: grid;
   grid-auto-flow: row;
   grid-template-rows: auto;
   gap: 20px;

}

.formRow {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 0.8fr 1fr;
   gap: 20px;
}

#msgButtons, #appButtons {
   grid-template-columns: 1fr 1fr;
   justify-items: center;
}




/* Form Element Styles */

/* Legend Styles */
legend {
   background-color: var(--accent-color-hsla);
   color: var(--primary-color-hsla);
   padding: 5px;
}

select {
   width: fit-content;
   justify-self: end;
   text-align: center;
}

textarea {
   box-sizing: border-box;
   min-height: 100px;
   max-width: 100%;
   resize: none;
}

input[type='submit'],
input[type='reset'] {
   width: fit-content;
   font-size: 1.2em;
   padding: 5px;
}

#msgInfo {
   justify-self: end;
   width: fit-content;
}

#gameSpin {
   justify-self: end;
   width: fit-content;
   text-align: center;
   height: 30px;
}

#mailCheck {
   grid-template-columns: 2fr 0.5fr;
}

#mailCB {
   justify-self: end;
   transform: scale(1.5);
}


/* Validation Styles */
input, textarea {
   color: var(--primary-color-hsla);
   background-color: var(--secondary-color-hsla);
}

input:placeholder-shown {
      background: var(--invalid-color);
}

input:has(::placeholder):not(placeholder-shown) {
      background: var(--valid-color);
}


input:focus:valid:required,
input:valid:required{
   color: var(--primary-color-hsla);
   background: var(--valid-color);
}


input:focus:invalid, input:invalid{
   color: var(--primary-color-hsla);
   background: var(--invalid-color);
}

input:focus, textarea:focus {
   color: var(--secondary-color-hsla);
   background: var(--primary-color-hsla);
}


/*Mobile Screen Sizes*/
@media screen and (max-width: 860px) {
   main {
      padding: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
         "img"
         "message"
         "application"
         "callback";
      gap: 20px;
   }
}


/*Tablet and Desktop Screensizes*/
@media screen and (min-width: 861px) {
   main {
      padding: 30px 10%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
         "message img"
         "message application"
         "callback callback";
      gap: 30px;
   }
}