@charset "utf-8";


/*Page layout styles*/
main {
   display: grid;
}

.grid-item {
   padding: 1em;
   width: 100%;
   height: auto;
   overflow: hidden;
}

#contact-image-container {
   width: 100%;
   height: 100%;
}

.grid-item img {
   display: block;
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   clip-path: inset(1px round 10px);
}

#callback {
   width: fit-content;
}

/*Form grid layouts*/

form {
   height: 100%;
   color: var(--primary-color-rgba);
   color: var(--primary-color-hsla);
   display: grid;
   gap: 20px;
   grid-auto-flow: row;
   grid-template-rows: 1fr auto;

}

fieldset {
   display: grid;
   grid-auto-flow: row;
   grid-template-rows: auto;
   gap: 20px;

}

.formRow {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 0.8fr 1fr;
   gap: 20px;
}

.formRow#buttons {
   grid-template-columns: 1fr 1fr;
   justify-items: center;
}




/* Form Element Styles */

/* Legend Styles */
legend {
   background-color: var(--accent-color-hsla);
   color: white;
   padding: 5px;
}

/* Text Area Styles */
textarea {
   box-sizing: border-box;
   min-height: 100px;
   max-width: 100%;
   resize: none;
}

input[type='submit'],
input[type='reset'] {
   width: fit-content;
   font-size: 1.2em;
   padding: 5px;
}

#messageInfo {
   justify-self: end;
   width: 100px;
}

#gameSpin {
   justify-self: end;
   width: fit-content;
   text-align: center;
   height: 30px;
}

#mailCheck {
   grid-template-columns: 2fr 0.5fr;
}

#mailCB {
   justify-self: end;
   transform: scale(1.5);
}


/* Validation Styles */

input#name:focus:valid,
input#phone:focus:valid,
input#mail:focus:valid {
   color: var(--background-color-hsla);
   background: rgb(139, 255, 139) url(rb_valid.png) bottom right/contain no-repeat;
}

input#name:focus:invalid,
input#phone:focus:invalid,
input#mail:focus:invalid {
   color: var(--background-color-hsla);
   background: rgb(255, 171, 175) url(rb_invalid.png) bottom right/contain no-repeat;
}


/*Mobile Screen Sizes*/
@media screen and (max-width: 860px) {
   main {
      padding: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
         "img"
         "message"
         "application"
         "callback";
      gap: 20px;
   }
}


/*Tablet and Desktop Screensizes*/
@media screen and (min-width: 861px) {
   main {
      padding: 30px 10%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
         "message img"
         "message application"
         "callback callback";
      gap: 30px;
   }
}