@charset "utf-8";

main {
   display: grid;
}

.grid-item {
   padding: 1em;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
#contact-image-container {
   width: 100%;
   height: 100%;
}
.grid-item img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   clip-path: inset(1px round 10px);
}

form {
   display: grid;
   width: 100%;
   height: 100%;
}

fieldset {
   display: grid;
   width: 100%;
   height: 100%;
   gap: 20px;
}

.formRow {
   display: flex;
   flex-direction: row nowrap;
   flex: 1;
   gap: 10px;
   justify-content: space-between;
}

#info {
   -webkit-flex: 0 0 100px;
   flex: 0 0 100px;
   margin-left: 5px;
}

#mailCheck {
   display: flex;
   flex-direction: row nowrap;
   gap: 30px;
}

#mailCB {
   transform: scale(2);
   align-self: flex-end;
}


#experience, #message {
   height: 100px;
}



/* Text Area Styles */
textarea {
   min-height: 100px;
   width: 100%;
   resize: none;
}
/* Legend Styles */
legend {
   background-color: var(--accent-color-hsla);
   color: white;
   padding: 5px;
   margin-bottom: 30px;
}

/* Form Button Styles */
div#buttons {
   display: flex;
   flex-direction: row nowrap;
   gap: 20px;
}
div#buttons input {
   flex: 1;
}

input[type='submit'],
input[type='reset'] {
   font-size: 1.2em;
   padding: 5px;
}


/* Validation Styles */


input#name:focus:valid,
input#phone:focus:valid,
input#mail:focus:valid {
   color: var(--background-color-hsla);
   background: rgb(139, 255, 139) url(rb_valid.png) bottom right/contain no-repeat;
}

input#name:focus:invalid,
input#phone:focus:invalid,
input#mail:focus:invalid {
   color: var(--background-color-hsla);
   background: rgb(255, 171, 175) url(rb_invalid.png) bottom right/contain no-repeat;
}







/*Mobile Screen Sizes*/
@media screen and (max-width: 860px) {
   main {
      padding: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 1fr 0.7fr;
      grid-template-areas:
         "img"
         "message"
         "application";
      gap: 20px;
   }
}


/*Tablet and Desktop Screensizes*/
@media screen and (min-width: 861px) {
   main {
      padding: 30px 5rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.2fr 0.5fr;
      grid-template-areas:
         "message img"
         "message application";
      gap: 30px;
   }
   .grid-item:first-of-type {
      min-height: fit-content;
      height: 100%;
   }
   .grid-item:last-of-type {
      min-height: fit-content;
      height: 100%;
   }
}