/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";
/*Container and Overlay for expanded images

fixed position allow for coverage of the entire page that maintains through scrolling
*/

main {
    position: relative;
}
#expandedImageContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 3;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}