@charset "utf-8";
/*Container and Overlay for expanded images

fixed position allow for coverage of the entire page that maintains through scrolling
*/

#expandedImageContainer {
    width: 100%;
    position: fixed;
    display: none;
    z-index: 3;
}

#overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}