@charset "utf-8";

* {
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-block{
    width: 100%;
    margin: 0 auto 50px auto;
}

.product-gallery {
    width: min(1000px, 50%);
    margin: 50px auto;
    columns: 3 50px;
    column-gap: 2em;
}

.product-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 2px solid whitesmoke;
    margin-bottom: 2em;
}

.product-gallery img {
    display: block;
    width: 100%;
    height: auto;
}

.product-gallery p {
    text-align: center;
    color: whitesmoke;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 10px 0;
}



















article {
    width: 70%;
    margin-right: 10px;
    border: 3px solid black;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid black;
}


#about {
    border: 1px solid black;
    margin: 5px;
}

#calendar {
    border: 1px solid black;
    margin: 5px;
}

#contact {
    border: 1px solid black;
    margin: 5px;
}

#contact p {
    text-align: center;
}



.newsPost {
    display: flex;
    flex-direction: row;

}

.newsPost img {
    max-width: 300px;
    height: auto;
    object-fit: contain;
    margin: 5px 0 5px 10px;
    text-align: center;
    clip-path: circle(50%);
}

.newsPostContent {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
}






.calendar-container {
    background: #beb752;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-container header {
    display: flex;
    align-items: center;
    padding: 15px 20px 8px;
    justify-content: space-between;
}

header .calendar-navigation {
    display: flex;
}

header .calendar-navigation span {
    height: 30px;
    width: 30px;
    margin: 0 2px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    user-select: none;
    color: #000000;
    font-size: 1.4rem;
}

.calendar-navigation span:last-child {
    margin-right: -8px;
}

header .calendar-navigation span:hover {
    background: #f2f2f2;
}

header .calendar-current-date {
    font-weight: 500;
    font-size: 1.2rem;
}

.calendar-body {
    padding: 10px;
}

.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.calendar-body .calendar-dates {
    margin-bottom: 10px;
    width: 100%;
}

.calendar-body li {
    width: calc(100% / 7);
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    color: #414141;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
    font-size: 0.85rem;
}

.calendar-dates li.inactive {
    color: #aaa;
    cursor: default;
}

.calendar-dates li.active {
    color: #fff;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #6964ff;
}

.calendar-dates li:not(.active):not(.highlight):hover::before {
    background: #858484;
}

.calendar-dates li.highlight {
    background: transparent !important;
    border: 2px dotted #38f3b1 !important;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: calc(100% / 7);
}