/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";


/*Drop cap*/
.drop-cap::first-letter {
    font-size: 2.3em;
    float: left;
    line-height: 1;
    margin-right: 0.1em;
}

/*Customer Quote*/
#quote {
    white-space: pre-wrap;
}
#quote::before {
    color: var(--primary-color-hsla);
    color: var(--primary-color-rgba);
    font-style: normal;
    content: "Customer Name: ";
    
}


/*Contact Content*/
#hours-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/*Contact Block Content*/
#hours-contact h3:first-of-type {
    margin-bottom: 10px;
}

#hours-contact h3:last-of-type {
    margin: 20px 0 10px 0;
}

#hours-contact > p, div{
    text-align: center;
}

#hours-contact a:not(:has(> img)):hover {
    background-color: white;
}




/*Mobile and Tablet Screen Sizes*/
@media screen and (max-width: 1199px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }

    article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }

    aside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }
}

@media screen and (min-width: 1200px) {
        main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        gap: 30px;
    }

    article {
        width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }

    aside {
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }
}


/*Desktop sizes*/
@media screen and (min-width: 1300px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }

    article {
        width: 70%;
        height: auto;
        padding: 0 10%;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }

    article section:not(#upcoming-events) {
        max-width: 80%;
    }



    aside {
        width: 30%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 30px;
    }

    #calendar {
        width: 100%;
        height: 100%;
    }
}