@charset "utf-8";


/*Drop cap*/
.drop-cap::first-letter {
    font-size: 4em;
    float: left;
    line-height: 1;
    margin-right: 0.1em;
}


/*Customer Quote*/
#quote {
    white-space: pre-wrap;
}
#quote::before {
    color: var(--primary-color-hsla);
    color: var(--primary-color-rgba);
    font-style: normal;
    content: "Customer Name: ";
    
}
/*business offers description list*/
#business-offers dl {
        text-align: center;
        align-content: center;
    }


/*Contact Content*/
#hours-contact {
    display: flex;
    flex-direction: column;
}

/*Contact Block Content*/
#hours-contact h3:first-of-type {
    margin-bottom: 10px;
}

#hours-contact h3:last-of-type {
    margin: 20px 0 10px 0;
}

#hours-contact > p, div{
    text-align: center;
}

#hours-contact a:not(:has(> img)):hover {
    background-color: white;
}




/*Mobile and Tablet Screen Sizes*/
@media screen and (max-width: 1299px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    aside {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}


/*Desktop sizes*/
@media screen and (min-width: 1300px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    article {
        width: 70%;
        height: auto;
        padding: 0 10%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 30px;
    }


    aside {
        width: 30%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    #calendar {
        width: 100%;
        height: 100%;
    }
}