@charset "utf-8";

#info-block {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
}

/*Drop cap*/
.drop-cap::first-letter {
    font-size: 4em;
    float: left;
    line-height: 1;
    margin-right: 0.1em;
}

section {
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Mobile Screen Sizes*/
@media screen and (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
    }
    section {
        margin: 10px 0;
    }
    
    #info-block {
        flex-direction: column;
        justify-content: center;
    }

    .about-us {
        padding: 10px;
        max-width: 250px;
    }
}


/*Tablet and Desktop sizes*/
@media screen and (min-width: 801px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    section {
        margin: 10px;
    }

    #info-block {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .contact-block {
        margin-right: 0;
    }

}

/*Container for Contact Content*/
.contact-block {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

/*Contact Block Content*/
.contact-block h3:first-of-type {
    margin-bottom: 10px;
}

.contact-block h3:last-of-type {
    margin: 20px 0 10px 0;
}

.contact-block a {
    margin-bottom: 6px;
}
