@charset "utf-8";

/*
* {
    outline: 1px dashed red;
}
*/
* {
    box-sizing: border-box;
}
:root {
    /*Color Variables*/
    --primary-color-rgba: rgba(245, 245, 245, 1);
    --primary-color-hsla: hsla(0, 0%, 96%, 1);
    --secondary-color-rgba: rgb(40, 40, 40);
    --secondary-color-hsla: hsla(0, 0%, 16%, 1);

    --background-color-rgba: rgba(30, 30, 30, 1);
    --background-color-hsla: hsla(0, 0%, 12%, 1);


    --boxshadow-primary-rgba: rgba(154, 160, 185, .05);
    --boxshadow-primary-hsla: hsla(228, 18%, 66%, .05);
    --boxshadow-secondary-rgba: rgba(166, 173, 201, .2);
    --boxshadow-secondary-hsla: hsla(228, 24%, 72%, .2);

}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color-rgba);
    background-color: var(--secondary-color-hsla);
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
    max-width: 100vw;
    width: 100vw;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: auto;
}

/* Page Header */
.page-header {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-hsla);
    background-color: var(--background-color-rgba);
    border-bottom: 20px solid var(--background-color-hsla);
    border-bottom: 20px solid var(--background-color-rgba);
}

.page-header h1 {
    width: 100%;
    text-align: center;
}



/*Navigation Bar*/
.header-nav {
    background-color: var(--boxshadow-primary-hsla);
    background-color: var(--boxshadow-primary-rgba);
    padding: 15px 0 10px 0;
    z-index: 2;
}

nav a:hover {
    color: var(--secondary-color-hsla);
    color: var(--secondary-color-rgba);

    box-shadow: 0 0 1px 5px var(--boxshadow-primary-rgba), 0 0 3px 10px var(--boxshadow-secondary-rgba);
    border-radius: 9px;
    border: 5px solid var(--secondary-background-color-rgba);
}


/*Footer*/
footer {
    width: 100%;
    height: auto;
    background-color: var(--background-color-rgba);
    background-color: var(--background-color-hsla);
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#quick-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}



/*Content*/
.content-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--background-color-rgba);
    background-color: var(--background-color-hsla);
    border: 3px solid var(--primary-color-hsla);
    border: 3px solid var(--primary-color-rgba);
}

p {
    color: var(--primary-color-rgba);
    color: var(--primary-color-hsla);
}

/*links*/
a,
a:visited {
    color: var(--primary-color-hsla);
    color: var(--primary-color-rgba);
    background-color: var(--background-color-hsla);
    background-color: var(--background-color-rgba);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color-hsla);
    color: var(--secondary-color-rgba);
}


/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color-hsla);
    color: var(--primary-color-rgba);
    text-align: center;
}

h1,
h2 {
    text-transform: uppercase;
}

/**********************
Mobile screen sizes
***********************/
@media screen and (max-width: 640px) {
    main {
        z-index: 1;
    }

    section {
        margin: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.1rem;
    }


    /**************************
    Mobile Header and footer
    *******************/

    /*Top Row Contains Logo and Business Name*/
    .page-header-top-row {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    /*Rotated Logo*/
    .logo {
        width: 150%;
        height: auto;
        object-fit: contain;
        border-radius: 15px 0 0 15px;
        transform: translate(-10%, 0%) rotateY(-25deg);
        z-index: 1;

    }

    #logo-link {
        width: 80px;
        height: auto;
        background-color: transparent;
        perspective: 400px;
    }

    nav {
        display: none;
    }

    .navicon {
        width: 200%;
        height: auto;
    }
    .navContainer {
        display: block;
        width: fit-content;
        height: fit-content;
    }

    nav ul {
        background-color: var(--background-color-hsla);
        background-color: var(--background-color-rgba);
        border-radius: 0 0 12px 0;
        position: absolute;
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 15px;
        z-index: 100;
    }

    nav ul li {
        margin-right: 5px;

    }

    nav a {
        white-space: nowrap;
        padding: 3px 12px 0px 12px;
        border-radius: 9px;
    }

    footer a,
    p {
        font-size: 0.8em;

    }

    #socials a {
        padding: 5px;
    }

}

/********************
Tablet and Desktop screen sizes
*********************************/
@media screen and (min-width: 641px) {
    section {
        margin: 1vw;
    }


    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    /*Tablet and Desktop Header and Footer*/

    /*Top Row Contains Logo and Business Name*/
    .page-header-top-row {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    /*Rotated Logo*/
    .logo {
        width: 150%;
        height: auto;
        object-fit: contain;
        border-radius: 0 15px 15px 0;
        transform: translate(-10%, 0%) rotateY(35deg);
        z-index: 1;

    }

    .navicon {
        display: none;
    }

    nav {
        display: block;
        margin-left: 150px;
    }

    #logo-link {
        width: 150px;
        height: auto;
        background-color: transparent;
        perspective: 400px;
    }

    nav ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    nav a {
        white-space: nowrap;
        padding: 3px 12px 0px 12px;
        border-radius: 9px;
    }

    #socials a {
        padding: 15px;
    }


}