@charset "utf-8";

main {
    display: grid;
}

main img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.grid-container {
    display: grid;
    margin: auto;
}

.grid-item {
    width: 100%;
    height: fit-content;
    background-color: var(--background-color-hsla);
    background-color: var(--background-color-rgba);
    text-align: center;
}

/*Mobile Screen Sizes*/
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 0.5fr 0.1fr;

        grid-template-areas:
            "open"
            "drinks"
            "pearls"
            "general"
            "close";
        gap: 10px;
    }



}

@media screen and (min-width: 601px) {
    .grid-container {
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.2fr 1fr 0.5fr 0.1fr;

        grid-template-areas:
            "open open"
            "drinks pearls"
            "general general"
            "close close";
        gap: 10px;
    }
}

/*Tablet and Desktop Screen Sizes*/
@media screen and (min-width: 1161px) {
    .grid-container {
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 0.2fr 0.4fr 0.2fr;

        grid-template-areas:
            "drinks open pearls"
            "drinks general pearls"
            ". close .";
        gap: 10px;
        align-items: end;
    }

    .grid-container div {
        height: fit-content;
    }
}

/*gradient border around event slideshow container*/
.gradient-border {
    border: 10px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(-45deg, rgba(70, 70, 70, 0.3) 30%, rgba(141, 108, 0, 0.9) 50%,
            rgba(141, 108, 0, 0.9) 70%, rgba(70, 70, 70, 0.3) 75%) border-box;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    animation: border_shift 3s linear infinite;
    background-size: 500% 100%;
}

/*animate the gradient border*/
@keyframes border_shift {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}