@charset "utf-8";

main {
    display: grid;
    background-image: url("../media/images/hotel-wallpaper-black.webp");
    background-size: 50%;
}

main img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.grid-container {
    display: grid;
    margin: auto;
}
h3 img {
    display: inline;
    width: 1.4em;
    vertical-align: middle;
}

.grid-item {
    width: 100%;
    height: fit-content;
    background-color: var(--background-color-hsla);
    background-color: var(--background-color-rgba);
    text-align: center;
}

/*Mobile Screen Sizes*/
@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 0.5fr 0.1fr;

        grid-template-areas:
            "open"
            "drinks"
            "pearls"
            "general"
            "close";
        gap: 10px;
    }



}

@media screen and (min-width: 601px) {
    main {
        padding: 30px;
    }
    .grid-container {
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.2fr 1fr 0.5fr 0.1fr;

        grid-template-areas:
            "open open"
            "drinks pearls"
            "general general"
            "close close";
        gap: 10px;
    }
}

/*Tablet and Desktop Screen Sizes*/
@media screen and (min-width: 1161px) {
    main {
        padding: 50px 30px;
    }
    .grid-container {
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 0.2fr 0.4fr 0.2fr;

        grid-template-areas:
            "drinks open pearls"
            "drinks general pearls"
            ". close .";
        gap: 10px;
        align-items: end;
    }

    .grid-container div {
        height: fit-content;
    }
}