@charset "utf-8";

main img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

.grid-item {
    padding: 1em;
    background-color: var(--background-color-hsla);
    background-color: var(--background-color-rgba);
    text-align: center;
}

@media screen and (min-width: 641px) {
    .grid-container {
            grid-template-areas:
        "box-1 box-2 box-2 box-3"
        "box-1 box-4 box-4 box-3"
        "box-1 box-4 box-4 box-3"
        "box-1 box-4 box-4 box-3";
    }
}



@media screen and (max-width: 640px) {
    .grid-container {
        grid-template-areas:
            "box-2"
            "box-1"
            "box-3"
            "box-4";
    }
    main {
 
    }
}