/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";

main {
    display: -ms-grid;
    display: grid;
    background-image: url("../media/images/hotel-wallpaper-black.webp");
    background-size: 50%;
}

main img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    margin: auto;
}
img.inline {
    display: inline;
    width: 1.4em;
    vertical-align: middle;
}


.grid-item {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--background-color-hsla);
    background-color: var(--background-color-rgba);
    text-align: center;
}

/*Mobile Screen Sizes*/
@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
    .grid-container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 0.2fr 10px 1fr 10px 1fr 10px 0.5fr 10px 0.1fr;
        grid-template-rows: 0.2fr 1fr 1fr 0.5fr 0.1fr;

            grid-template-areas:
            "open"
            "drinks"
            "pearls"
            "general"
            "close";
        gap: 10px;
    }



}

@media screen and (min-width: 601px) {
    main {
        padding: 30px;
    }
    .grid-container {
        -ms-grid-columns: 0.5fr 10px 0.5fr;
        grid-template-columns: 0.5fr 0.5fr;
        -ms-grid-rows: 0.2fr 10px 1fr 10px 0.5fr 10px 0.1fr;
        grid-template-rows: 0.2fr 1fr 0.5fr 0.1fr;

            grid-template-areas:
            "open open"
            "drinks pearls"
            "general general"
            "close close";
        gap: 10px;
    }
}

/*Tablet and Desktop Screen Sizes*/
@media screen and (min-width: 1161px) {
    main {
        padding: 50px 30px;
    }
    .grid-container {
        -ms-grid-columns: 0.5fr 10px 1fr 10px 0.5fr;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        -ms-grid-rows: 0.2fr 10px 0.4fr 10px 0.2fr;
        grid-template-rows: 0.2fr 0.4fr 0.2fr;

            grid-template-areas:
            "drinks open pearls"
            "drinks general pearls"
            ". close .";
        gap: 10px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: end;
    }

    .grid-container div {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
}