@charset "utf-8";

main {
    display: grid;
    gap: 10px;
}

.playspace-grid {
    display: grid;
    width: 100%;
    height: auto;
    background-color: var(--background-color-hsla);
    border-radius: 25px;
}

#description {
    margin-bottom: 50px;
}

#description p {
    padding-top: 20px;
}



/*Mobile Screen Sizes*/
@media screen and (max-width: 640px) {
    main {
        padding: 10px;
    }

    #videocontainer {
        padding-bottom: 30px;
    }

    .playspace-grid {
        grid-template-columns: 0.6fr 0.4fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.2fr 0.3fr;
        grid-template-areas:
            "video video"
            "img1 img2"
            "img1 img3"
            "audio audio"
            "closing closing";
        justify-content: space-between;
        gap: 10px;
    }


}


/*Tablet and Desktop Screensizes*/
@media screen and (min-width: 641px) {
    main {
        padding: 30px 150px;
    }

    #description {
        width: 50%;
    }

    .playspace-grid {
        grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
        grid-template-rows: 0.25fr 0.25fr 0.25fr;
        grid-template-areas:
            "img1 video video img2"
            "img1 video video img3"
            "audio . closing closing";
        padding: 30px;
        gap: 15px;
    }
}


.grid-item {
    padding: 1em;
    width: 100%;
    height: auto;
}

img.grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inset(25px round 10px);
}

audio {
    width: 100%;
    height: auto;
    padding: 20px;
}

video {
    width: 100%;
    height: auto;
    object-fit: contain;
}

figcaption {
    text-align: right;
    font-size: 0.8em;
}

figcaption img {
    display: inline-block;
    height: 1em;
    width: auto;
}