@charset "utf-8";

main {
    display: grid;
    gap: 50px;
}
section {
    width: 100%;
    height: auto;
    display: grid;
}

section:first-of-type {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "heading"
    "description";
}
section:last-of-type {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "img1 video"
    "img2 closing";
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

figure {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

figcaption {
    text-align: right;
    font-size: 0.8em;
}
figcaption img {
    display: inline-block;
    height: 1em;
    width: auto;
}
figcaption a {
}



