@charset "utf-8";

.gallery-grid {
    display: grid;
    width: 100%;
    height: auto;
}

.grid-item {
    padding: 1em;
    overflow: hidden;
    background-color: var(--background-color-hsla);
    background-color: var(--background-color-rgba);
}

.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Next Release card with image and countdown to release*/
.next-release {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.next-release div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.next-release h5 {
    flex: 1;
    text-align: left;
}
.next-release h4 {
    flex: 1;
    text-align: right;
}

.next-release p {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 3em 1em;
    background-color: rgba(0, 0, 0, 0.8);
}


/*Cards for displaying products sold*/
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/*Mobile Screen Sizes*/
@media screen and (max-width: 640px) {
    .gallery-grid {
        gap: 0.3em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "box-1 box-1"
            "box-2 box-3"
            "box-4 box-5"
            "box-6 box-7"
            "box-8 box-9";
    }
}


/*Tablet and Desktop Screensizes*/
@media screen and (min-width: 641px) {

    .gallery-grid {
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "box-1 box-1 box-2 box-3"
            "box-1 box-1 box-4 box-5"
            "box-6 box-7 box-8 box-9";
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .grid-item {
        height: 100%;
        width: 100%;
    }
}