@charset "utf-8";


#description {
    width: fit-content;
    margin-bottom: 30px;
}

.gallery-grid {
    display: grid;
    width: 100%;
    height: auto;
}

.grid-item {
    padding: 1em;
    overflow: hidden;
    background-color: var(--background-color-hsla);
    background-color: var(--background-color-rgba);
}

.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Next Release card with image and countdown to release*/
.next-release {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

#release-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#release-header h5 {
    flex: 1;
    text-align: left;
}

#release-header h4 {
    flex: 1;
    text-align: right;
}

#countdown {
    color: var(--primary-color-rgba);
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 3em 1em;
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-evenly;


}


/*Cards for displaying products sold*/
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}


#outro {
    margin-top: 30px;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
}

#outro h3 {
    flex: 1;
    width: fit-content;
    height: auto;
}

.image-container {
    flex: 1;
    width: 100%;
    height: auto;
}

.opacity-image {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
    opacity: 0.5;
}

/*Mobile Screen Sizes*/
@media screen and (max-width: 640px) {
    main {
        padding: 10px;
    }

    .gallery-grid {
        gap: 0.3em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "box-1 box-1"
            "box-2 box-3"
            "box-4 box-5"
            "box-6 box-7"
            "box-8 box-9";
    }
}


/*Tablet and Desktop Screensizes*/
@media screen and (min-width: 641px) {
    main {
        padding: 30px 150px;
    }

    .gallery-grid {

        gap: 1em;
        grid-template-columns: auto;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas:
            "box-1 box-1 box-2 box-3"
            "box-1 box-1 box-4 box-5"
            "box-6 box-7 box-8 box-9";
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .grid-item {
        height: 100%;
        width: 100%;
    }
}