/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";


#description {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
}

.gallery-grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
}

.grid-item {
    padding: 1em;
    overflow: hidden;
    background-color: var(--background-color-hsla);
    background-color: var(--background-color-rgba);
}

.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.grid-item h5, h4 {
    padding: 10px;
}

/*Next Release card with image and countdown to release*/
.next-release {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
}

#release-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#release-header h5 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
}

#release-header h4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
}

#countdown {
    color: var(--primary-color-rgba);
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 3em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column nowrap;
            flex-direction: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;


}


/*Cards for displaying products sold*/
.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


#outro {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row nowrap;
            flex-direction: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: auto;
}

#outro p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    margin: auto 0;
    padding: 20px;
}

.image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    height: auto;
    margin: auto;
}

.opacity-image {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
    opacity: 0.3;
}

/*Mobile Screen Sizes*/
@media screen and (max-width: 640px) {
    main {
        padding: 10px;
    }

    .gallery-grid {
        gap: 0.3em;
        -ms-grid-columns: 1fr 0.3em 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 2fr 0.3em 1fr 0.3em 1fr 0.3em 1fr 0.3em 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
            grid-template-areas:
            "box-1 box-1"
            "box-2 box-3"
            "box-4 box-5"
            "box-6 box-7"
            "box-8 box-9";
    }

    .opacity-image {
        width: 50px;
        height: auto;
    }
}


/*Tablet and Desktop Screensizes*/
@media screen and (min-width: 641px) {
    main {
        padding: 30px 150px;
    }

    .gallery-grid {

        gap: 1em;
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: 300px 1em 300px 1em 300px;
        grid-template-rows: 300px 300px 300px;
            grid-template-areas:
            "box-1 box-1 box-2 box-3"
            "box-1 box-1 box-4 box-5"
            "box-6 box-7 box-8 box-9";
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .grid-item {
        height: 100%;
        width: 100%;
    }
}