@charset "utf-8";

/*
* {
    outline: 1px dashed red;
}
*/

body {
    background-color: rgb(37, 37, 37);
}


/* Header */
.page-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: repeating-conic-gradient(#0f161a 0 25%, #0000 0 50%) 50% / 150px 150px;
    border-bottom: 10px solid rgb(82, 82, 82);
}

.page-header-top-row {
    display: flex;
    flex-direction: row;
}

#header_logo {
    width: 200px;
    height: auto;
    perspective: 400px;
}

.logo {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0 15px 15px 0;
    background-color: black;
    box-shadow: 0 0 5px 10px rgba(154, 160, 185, .05), 0 0 15px 15px rgba(166, 173, 201, .2);
    transform: rotateY(35deg);
    z-index: 1;

}

.header-nav {
    width: 100%;
    border-bottom: rgb(37, 37, 37);
    z-index: 2;
}

nav ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: start;
}

nav ul li {
    margin-right: min(30px, 1%);
    
}

nav a {
    color: whitesmoke;
    white-space: nowrap;
    font-size: 1rem;
    padding: 3px 12px 0px 12px;
    background-color: rgb(82, 82, 82);
    border-radius: 9px 9px 0 0;
}

nav a:hover {
    color: rgb(48, 48, 48);
    background-color: rgb(228, 228, 228);
    box-shadow: 0 0 1px 5px rgba(154, 160, 185, .05), 0 0 3px 10px rgba(166, 173, 201, .2);
    border-radius: 9px 9px 0 0;
    border: 5px solid rgb(82, 82, 82);
    border-bottom: none;
}




main {
    display: flex;
    flex-direction: row wrap;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.2);
}

footer a {
    color: whitesmoke;
}

footer a:hover {
    color: white;
    box-shadow: 0 0 1px 5px rgba(154, 160, 185, .05), 0 0 3px 10px rgba(166, 173, 201, .2);

}

footer a:visited {
    color: whitesmoke;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

footer div:first-of-type {
    justify-content: end;
}

footer div:first-of-type a {
    margin: 0 5px;
}


.title {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: rgba(51, 51, 51, 0.9);
    padding: 10px 15px;
}

.title h1 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(to right, gold 25%, silver 40%, silver 70%, gold 90%);
    background-clip: text;
}

.title h2 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(to right, gold 25%, silver 40%, silver 70%, gold 90%);
    background-clip: text;
}


/*gradient border*/
.gradient-border {
    border: 15px solid transparent;
    border-radius: 20px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(-45deg, rgba(70, 70, 70, 0.3) 30%, rgba(141, 108, 0, 0.9) 50%,
            rgba(141, 108, 0, 0.9) 70%, rgba(70, 70, 70, 0.3) 75%) border-box;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    animation: border_shift 3s linear infinite;
    background-size: 500% 100%;
}

/*animate the gradient border*/
@keyframes border_shift {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}



/* rainbow animated text */
/*
Source - https://stackoverflow.com/a
Posted by Austen Holland, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-21, License - CC BY-SA 4.0
*/

#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

.rainbow {
    text-align: center;
    font-size: 32px;
    font-style: oblique;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s linear infinite;
    background-size: 1000% 100%;
}

@keyframes rainbow_animation {
    to {
        background-position: -200% 0;
    }
}