* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: min(1000px, 90%);
    height: min(500px, 90vh);
    margin: auto;
    overflow: hidden;
}
.slides-container {
    width: 100%;
    height: 100%;
}
/* Hide the images by default */
.mySlides {
    width: 100%;
    height: 100%;
    display: none;
}


/*Event Cards*/
.event-card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.event-img{
    width: 100%;
    height: auto;
}

.event-info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-info p {
    color: whitesmoke;
}
.event-info p:first-of-type {
    font-size: 1.5rem;
    margin: 10px 0;
}
.event-info p:last-of-type {
    font-size: 1.1rem;
}

.event-info button {
    max-width: 100px;
    margin: 10px;
}



/*Slideshow Heading*/
.slideshow-header {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}
.slideshow-header h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 1rem;
}

/*Slideshow Navigation*/
.slideshow-nav {
    text-align: center;
    margin: 15px;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    width: auto;
    margin: 0 30px;
    color: rgba(231, 231, 231, 0.3);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
}
/* On hover, add a boxshadow*/
.prev:hover,
.next:hover {
    background-color: rgba(166, 173, 201, .2);
    box-shadow: 0 0 5px 10px rgba(154, 160, 185, .05), 0 0 15px 30px rgba(166, 173, 201, .2);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: rgba(107, 107, 107, 0.8);
}

/* Slideshow Card Transition Animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}


