@charset "utf-8";

/*
Typographical Styles
*/

html {
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* Nav Styles */
nav.sticky_nav a {
    font-family: cursive;
    font-size: 1.4em;
    line-height: 1.8em;
    text-align: center;
}

nav.sticky_nav a:link,
nav.sticy_nav a:visited {
    color: black;
}

nav.sticky_nav a:hover,
nav.sticky_nav {
    background-color: chocolate;
}

/* Article Styles */

/* Other Section Styles */


/* Footer Styles */